@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home{
    padding: 16px;
}

.home ul li{
    display: flex;
    width: 24px;
    gap: 15px;
    list-style: none;
    margin-top: 16px;
    align-items: center;
}

.heading{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 23px 16px;
}
.heading img{
    width: 24px;
}
.heading img .invert .add{
    padding-left: 100px;
}
.library{
    height: 76vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}
.footer a{
    color: gray;
}

.right{
    margin: 14px 8px 8px 0px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #1E1E1E, #121212);;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
}
.header > *{
    padding: 12px;
}
.header .btn1{
    margin-right: 2rem;
    border: none;
    background-color: transparent;
    color: rgb(152, 152, 152);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.header .btn2{
    margin-right: 1rem;
    padding: 14px 30px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 26px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}


.spotifyPlaylists h2{
    margin: 4px 20px;
}
.svg-container {
    display: flex;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    background-color: #1FDF64;
    border-radius: 24px;
    position: absolute;
    top: 136px;
    right: 16px;
    opacity: 1;
    transition: 1s ease-out;
  }
  
  .svg-container svg path {
    fill: black;
  }
.cardContainer{
    margin: 10px 0px 0px 26px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.cardContainer img{
    border-radius: 12px;
}
.card{
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    background-color: #171717;
    position: relative;
}
.card > *{
    padding-top: 8px;
}
.card img{
    width: 100%;
    object-fit: contain;
}