@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home{
    padding: 16px;
}

.home ul li{
    display: flex;
    width: 24px;
    gap: 15px;
    list-style: none;
    margin-top: 16px;
    align-items: center;
}

.heading{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 23px 16px;
}
.heading img{
    width: 24px;
}
.heading img .invert .add{
    padding-left: 100px;
}
.library{
    height: 76vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: gray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 25, 25);
}
.header > *{
    padding: 12px;
}
.header .btn1{
    margin-right: 2rem;
    border: none;
    background-color: transparent;
    color: rgb(152, 152, 152);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.header .btn2{
    margin-right: 1rem;
    padding: 14px 30px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 26px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}